<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CGRF</title>
</head>
<link rel="stylesheet" href="df.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
    <div id="page">
        <div id="header">
            <img src="http://sgw.bsphcl.co.in/cgrf/images/logo1.png" alt="Logo">
        </div>    
      
        <div class="navbar">
            <a class="active" href="df.ejs"><i class="fa fa-fw fa-home"></i>Home</a> 
            <a class="active1" href="case.html"><i class="fa fa-fw fa-search"></i>Case Status</a> 
            <div class="dropdown">
            <button class="dropbtn"><i class="fa fa-fw fa-envelope"></i>Contact
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="nbpdcl.html">NBPDCL</a>
                <a href="sbpdcl.html">SBPDCL</a>
            </div>
            </div>
            <a class="active2" href="login1.ejs"><i class="fa fa-fw fa-user"></i>Login</a>
        </div>            
                
            
        
        <div id="body" style=" background-image:url(https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGxhaW4lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)">
            <div id="content">
                <h1>CONSUMER  GRIEVANCE  REDRESSAL  FORUM</h1>
                <!--<h3 class="first"> -</h3>-->
                <p>
                    <b> 1.	CGRF members:-<br></b>
                    &nbsp; i)<b>Chairman -</b> ESE, Discom (First Member)<br>
                    &nbsp; ii)Discom Officer (Second Member)<br>
                    &nbsp; iii)NGO Representative (Third Member)<br>
                </p>
                <p>
                    <b>2.</b> 	CGRF is formed for redressal of grievances of the consumers in accordance with the regulations.
                </p>

                <p>
                    <b>3.</b>	It is established at circle level under distribution license.
                </p>

                <p>
                    <b> 4.</b>	There are 11 Electric Supply Circle under SBPDCL, hence 11 CGRF and there are 9 Electric Supply Circle under NBPDCL, hence 9 CGRF. Altogether 11 + 9 = 20 CGRF
                </p>

                <p>
                    <b> 5.</b>  	<b>Jurisdiction</b>- Entire area of that particular Electric Supply Circle including Electric Supply Division/Sub-division/Section under that Circle
                </p>
                <p>
                    <b> 6.	Different Type of Grievances/Complainant :-</b><br>
                    i.	Defect or deficiency in electricity supply or service provided by the licensee;<br>
                    ii. Unfair or restrictive trade practices of licensee in providing electricity services;<br>
                    iii. Charging of a price in excess of the price fixed by the Commission for supply of electricity and allied service;<br>
                    iv.	Errors in billing;<br>
                    v.	Erroneous disconnection of supply;<br>
                    vi.	Electricity services which are unsafe or hazardous to public life in contravention of the provisions of any law or rule in force; or<br>
                    vii.	Any other grievance connected with the supply of electricity by the licensee to the consumers except grievances arising under Sections 126, 135 to 139, 143, 152 and 161 of the Act.

                </p>
                <p>
                    <b>  7.	Filing of Grievances :- </b><br>
                    i.	In writing (hard copy)<br>
                    ii.  E-mail<br>
                    iii.  Through post

                </p>
                <p>
                    <b>  8.	Prioritization of Grievances :-</b><br>
                    i.	Non-Supply<br>
                    ii.  Connection<br>
                    iii. Disconnection of supply<br>
                    iv. Meter- related issues<br>
                    v.  Billing-related issues<br>
                    vi. Other issues

                </p>
                <p>
                    <b>  9.	Limitations/pre-conditions for submission of Grievances :-</b><br>
                    i.	Same complainant and the Licensee are pending before any court, tribunal, arbitrator or any other authority;<br>
                    ii. Decree or award or a final order has already been passed by the any such court, tribunal arbitrator or authority;<br>
                    iii. In cases which fall under Sections 126, 127,135 to 139, 152 and 161 of the Act<br>
                    iv. Two years from the date on which the cause of action has arisen<br>
                    v. In the case of grievances which are:<br>
                    &nbsp;&nbsp;a)Frivolous, vexatious, melafide;<br>
                    &nbsp;&nbsp;b)Without any sufficient cause; or<br>
                    &nbsp;&nbsp;c) Where there is no prima facie loss or damage or inconvinience caused to the complainant.


                </p>
                <p>
                    <b>  10.	Issue of Order:-</b><br>
                    &nbsp;&nbsp;  i.	 After hearing of parties decision by a majority of votes of the member.  <br>
                    &nbsp;&nbsp; ii. In case of equality of votes Chairperson/Presiding Officer shall have second or casting vote.<br>
                    &nbsp;&nbsp; iii.After completion of the proceedings the Forum will issue an order. <br>
                    &nbsp;&nbsp;iv. The proceedings and decision of the Forum shall be recorded. The order shall be supported by reasons and signed by the Members.<br>
                    &nbsp;&nbsp; v. Where the Members differ on any point, the opinion of the majority shall be the order of the Forum.The opinion of the minority shall however be recorded and form part of the order.<br>
                   

                </p>
            </div>

        </div>
        <div id="footer">

            <p>
                Copyright © IT Dept., NBPDCL ,Patna
            </p>
        </div>
    </div>



</body>
</html>