<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/public/stylesheets/style.css">

    <!-- Main Site -->
    <main id="site-main">
        <div class="container mt-0 card" >
            <div class="box-nav d-flex justify-between">
                <a href="/add_user" class="border-shadow">
                    <span class="text-gradient">New User <i class="fas fa-user"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/index" method="POST">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Dept. Name</th>
                            <th scope="col">Dept. Short Name</th>
                            <th scope="col">Dept. Code</th>
                            <th scope="col">Creation Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>
            </form>
        </div>
    </main>
